.skills__title {
  color: var(--preto-100, #464646);
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
  
}
@media screen and (max-width: 425px) {
  .skills__title {
    font-size: 22px;
  }
 
}
@media screen and (min-width: 426px) and (max-width: 767px) {
  .skills__title {
    font-size: 22px;
   
  }
}
