
/*Contacto*/

section.formcontato {
    display: flex;
    padding: 82px;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background: var(--azul-10, #eaf2fd);
    
    
  }
  