.formcontato__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.formcontato__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.formcontato__textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.formcontato__botao {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--azul-100, #2a7ae4);
}
.formcontato__boton:hover {
  background-color: var( --cor-de-fundo);
  cursor: pointer;
  color: var(--azul-100,);
  border: 1px solid var(--azul-100);
}
